/* for small device like mobile */

@media screen and (max-width:576px) {
.nav-container{
  margin:0px auto;
  flex-direction: column;     
  padding: 0;
}
.game{
width: 35%;
}
.nav-first{
  width: 70%;
  margin-left:60px;
}
.nav-text{
  flex-direction: column;  
  font-size: large;
  align-items: center; 
}
.nav-social{
  width: 50%;
}
.nav-second{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
}
/* baner section */
.baner-section{
  margin: 0px;
}
.baner-container{
  flex-direction: column;
}
.baner-img img{
  width:200%;
}
.baner-contant{
  width: 100%;
  padding: 0px;
}
.baner-title{
  font-size: 300%;  
}
.baner-heading{
  font-size: 600%;
}
.baner-discreption{
  font-size: 150%;
}
.btna{
  font-size: 150%;
}
.btnb{
  font-size: 150%;
}
/* new item section */
.item-container{
  margin: 0 auto;
  flex-direction: column-reverse;
}
.item-img img{
  width: 200%;
  height: 200%;  
}
.item-contant{
  width: 100%;
}

/* online game section */
.online-game{
  margin: 0 auto;
}
.funny-video-container{
  flex-direction: column;
}
/* game section */
.game-container{
  max-width: 400px;
  height: 200px;
  padding-top: 0px;
  flex-direction: column;
}
/* play game */
.play-game-container{
  margin: 0 auto;
  flex-direction: column;
}
.big-img img{
  width: 200%;
}









/* footer section */
 .footer-container{
  margin: 50px auto;
  flex-wrap: wrap;
 }
}

/* this is for tab */
@media screen and (min-width:576px) and (max-width:960px) {
 .nav-container{
  width: 80%;
  margin: 0;
 }
 
 
 /* baner section */
 .baner-section{
  margin: 0 auto; 
 }
 .baner-container{
  
 }

 /* item section */
 .item-container{
  margin: 0 auto;
 }
 .online-game{
  margin: 0 auto;
 }
 .funny-video-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 0px;
 }
 /* play game */
 .play-game-container{
  margin: 0 auto;
 }
  


  
}

