/* for small device like mobile */

@media screen and (max-width:576px) {

*{
  width: 99%;
} 
 .nav-container{
  margin:0px auto;
  flex-direction: column;     
  padding: 0;
 
}
.game{
width: 35%;
}
.nav-first{
  width: 70%;
  margin-left:60px;
}
.nav-text{
  flex-direction: column;  
  font-size: large;
  align-items: center; 
}
.nav-social{
  width: 50%;
}
.nav-second{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
}
/* baner section */
.baner-section{
  margin: 0px;
}
.baner-container{
  flex-direction: column;
}
.baner-img img{
  width:200%;
}
.baner-contant{
  width: 100%;
  height: auto;
  padding: 0px;
}
.baner-title{
  font-size: 300%;  
}
.baner-heading{
  font-size: 600%;
}
.baner-discreption{
  font-size: 150%;
}
.btna{
  font-size: 150%;
}
.btnb{
  font-size: 150%;
}
/* new item section */
.item-container{
  margin: 0 auto;
  flex-direction: column-reverse;
}
.item-img img{
  width: 200%;
  height: 200%;  
}
.item-contant{
  width: 100%;
}

/* online game section */
.online-game{
  margin: 0 auto;
}
.funny-video-container{
  flex-direction: column;
  width: 200%;  
}
/* play game */
.play-game-container{
  margin: 0 auto;
  flex-direction: column;
}
.big-img img{
  width: 200%;
}
.play-contant{
  margin: 0 auto;
}

/* game section */
.each-game {        
    width: calc(50% - 20px); 
      }

.game-sectiona,
.game-sectionb {
  flex-wrap: wrap;
   gap: 10px;
      }
.game-sectiona .each-game:nth-child(n+7),
.game-sectionb .each-game:nth-child(n+7) 


/* footer section */
  .footer-container {
        padding: 30px 5px; /* Adjust padding for smaller screens */
      }

      .footer-heading {
        flex-wrap: wrap;
        gap: 10px; /* Reduce the gap for smaller screens */
        font-size: 16px; /* Increase font size for smaller screens */
      }

      .footer-icon {
        gap: 10px; /* Reduce the gap for smaller screens */
        font-size: 130%; /* Increase font size for smaller screens */
      }

      .footer-discreption {
        gap: 5px; /* Reduce the gap for smaller screens */
        font-size: 12px; /* Increase font size for smaller screens */
      }

      .adtha-right-symbol {
        font-size: 12px; /* Increase font size for smaller screens */
      }

       
  }  



      



/* this is for tab */
@media screen and (min-width:576px) and (max-width:960px) {
 .nav-container{
  width: 80%;
  margin: 0;
 }
 
 
 /* baner section */
 .baner-section{
  margin: 0 auto; 
 }
 .baner-container{
  
 }

 /* item section */
 .item-container{
  margin: 0 auto;
 }
 .online-game{
  margin: 0 auto;
 }
 .funny-video-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 0px;
 }
 /* play game */
 .play-game-container{
  margin: 0 auto;
 }
  


  
}

