/* for small device like mobile */

@media screen and (max-width:576px) {
.nav-container{
  margin:0px auto;
  flex-direction: column;     
  padding: 0;
}
.game{
width: 35%;
}
.nav-first{
  width: 70%;
  margin-left:60px;
}
.nav-text{
  flex-direction: column;  
  font-size: large;
  align-items: center; 
}
.nav-social{
  width: 50%;
}
.nav-second{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
}
/* baner section */
.baner-section{
  margin: 0px;
}
.baner-container{
  flex-direction: column;
}
.baner-img img{
  width:200%;
}
.baner-contant{
  width: 100%;
  padding: 0px;
}
.baner-title{
  font-size: 300%;  
}
.baner-heading{
  font-size: 600%;
}
.baner-discreption{
  font-size: 150%;
}
.btna{
  font-size: 150%;
}
.btnb{
  font-size: 150%;
}

/* online game section */
.online-game{
  margin: 0 auto;
}
.funny-video-container{
  flex-direction: column;
}







/* footer section */
 .footer-container{
  margin: 50px auto;
  flex-wrap: wrap;
 }
}




