@import url('https://fonts.googleapis.com/css2?family=Freehand&family=Open+Sans:wght@400;500;700;800&family=Work+Sans:wght@400;600;700;800&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Freehand', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
}
/* nav section */
.full-nav{
background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container{
  margin:0px 240px;
  display: flex;      
  padding: 35px 20px;
}
.game{
width: 15%;
padding-right: 15px;
}
.icon-titel{
   color: #0B0223;
font-size: 45px;
font-weight: 700;
}
.single-color{
color:#FF42A5 ;
}
.nav-text{
  display: flex;
  justify-content:space-between;
  width: 50%;
 
}
.nav-social{
  display: flex;
  align-items: center;
  justify-content:space-between;
  border-radius: 8px;
 background: rgba(11, 2, 35, 0.10);
 width: 30%;
 padding: 0 5px;
 
}
.nav-first{
  width: 50%;
}
.nav-second{
  display: flex;
  width: 50%;
  justify-content: space-around;
}
/* nav finished */
/* baner section */  
.baner-section{
  margin: 50px 240px;
}
.baner-container{
  display: flex;
}
.baner-contant{
 width: 50%; 
 background-image: url('./images/Group\ 14.png');
 background-repeat: no-repeat;  
}
.baner-contant .baner-title .baner-heading{
  margin: 0;
}
.baner-img{
  width: 50%;
}
.baner-img img{
  width: 100%;
  height: 100%;
}
.baner-contant .baner-heading{
   background-image: linear-gradient(to bottom,#ff42a5, #4EC5F7);
   color: transparent;
   -webkit-background-clip: text;

  }
.baner-title{
 color: #0B0223;
font-size: 400%;
font-weight: 600;
text-transform: uppercase;
margin-bottom: 0px; 
}
.baner-heading{
font-size: 700%;
font-weight: 800px;
margin-top: 0px;
}
.baner-discreption{
 color: #534C64;
font-size: 200%;
font-weight: 500px;  
}
.btna{
border-radius: 48px;
background: #ff42a5;
color: #FFF;
font-size: 200%;
font-weight: 600;
padding: 20px 40px;
border: 0;
}
.btnb{
border-radius: 48px;
background: #4EC5F7;
color: #FFF;
font-size: 200%;
font-weight: 600;
padding: 20px 40px;
border: 0;
}
/* new item */
.item-container{
  margin: 0 240px;
  display: flex;
}
.item-img{
width: 50%;
}
.item-img img{
  width: 100%;
  height: 100%;
}
.item-contant{
width: 50%;
text-align: right;
}
.item-heading{
  font-size:250%;
 background-image: linear-gradient(to bottom,#ff42a5, #4EC5F7);
   color: transparent;
   -webkit-background-clip: text; 
}
.item-discreption{
  color: #534C64;
font-size: 120%;
font-weight: 400;
}
.item-last{
color: #534C64;
font-size: 24px;
margin-bottom:5px;
}
.item-message{
color: #534C64;
font-size: 32px;
font-weight: 700;
margin-top: 0px;

}
/* online game section */
.online-game-heding{
color: #0B0223;
font-size: 48px;
font-weight: 700;
}
.online-discreption{
color: #534C64;
text-align: center;
font-size: 18px;
font-weight: 400;
}
.funny-video-container{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;    
}
 
.online-game{
  margin:100px 240px;

}
.online-game-contant{
  text-align: center;
}
.online-game-contant .online-color{
  background-image: linear-gradient(to bottom,#ff42a5, #4EC5F7);
   color: transparent;
   -webkit-background-clip: text;

}
.online-game-contant .online-heading{
  font-size:300%;
}
.funny-discreption{
 color: #534C64;
font-size: 20px;
font-weight: 500;
}
/* play game section */
.play-game-container{
  margin: 100px 240px;
  display: flex;
}
.play-img{
width: 50%;
border: 1px solid red;
}
.play-contant{
width: 50%;
border: 1px solid red;
}
.big-img img{
  width:80%;
  position:relative;
}
.play-img img{
 position:;
}
.play-heading .play-color{
background-image: linear-gradient(to bottom,#ff42a5, #4EC5F7);
  color: transparent;
 -webkit-background-clip: text; 
font-size: 48px;
font-weight: 700;
}
.play-heading{
color: #0B0223;
font-size: 48px;
font-weight: 700;
}
.play-discreption{
color: #534C64;
font-size: 18px;
font-weight: 400;
}

  /*game sectiion  */
  .game-container{
    background-color: #f5edf1; 
    width: 1920px;
    height: 427px;
    text-align: center;
    padding-top: 120px;
    margin: 0 auto;       
  }
  .each-game:hover{
    color: #FF42A5;
    background-color: #FF42A5;
    border: 1px solid #FF42A5;  
    background-clip: text;
    -webkit-background-clip: text;
  }
  .each-game{
    display: flex;
    border-radius: 50px;
    background: #FFF;
    padding:5px ;
  
  }
  .game-sectiona{
    display: flex;
    justify-content: center;
    gap: 30px;  
    padding: 20px;
  }
  .game-sectionb{
    display: flex;
    justify-content: center;
    gap: 30px;
   
  }
  










/* footer section */
.footer-head-icon{
color: white;
}
.footer-head-icon .icon-color{
 color: #FFF;
font-size: 45px;
font-weight: 700;
}
.footer-head-icon img{
  width:5%;
}

.footer{
  background: #0B0223;
}
.footer-container{
  text-align: center;
  padding: 130px 0;
}
.footer-heading{
display: flex;
justify-content:center;
gap: 40px;
color: #FFF;
font-size: 18px;
font-style: normal;
font-weight: 600;
}
.footer-icon{
 color: rgb(245, 236, 236);
 display: flex;
 justify-content:center;
 gap:50px;
 font-size:200%;
 

}
.footer-discreption{
  display: flex;
  justify-content: center;
  gap: 30px;
  color: rgba(255, 255, 255, 0.60);
font-size: 16px;
font-weight: 500;

}
.adtha-right-symbol{
color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-weight: 500;

}